/*CSS Document for web responsive Layout*/

/*css added by Ajay Kumar on 170718*/

@media screen and (min-width:768px) {
	.hidden_md {
		display: none
	}
}
@media screen and (max-width:1100px) {
	.banner_heading1 {
		font-size: 48px
	}
}  
@media screen and (max-width:1024px) {   
    .curve_bg {
        background-size: 100% 300px;
    }
	.dashboard_header {
		background: #0078f8;
		background: -moz-linear-gradient(45deg, #0078f8 0%, #2989d8 60%, #2989d8 60%, #2989d8 62%, #ffffff 62%, #ffffff 63%, #ffffff 100%);
		background: -webkit-linear-gradient(310deg, #0078f8 0%,#2989d8 60%,#2989d8 60%,#2989d8 62%,#ffffff 62%,#ffffff 63%,#ffffff 100%);
		background: linear-gradient(138deg, #0078f8 0%,#2989d8 60%,#2989d8 60%,#2989d8 62%,#ffffff 62%,#ffffff 63%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078f8', endColorstr='#ffffff',GradientType=1 );
	}
	
	.sidebar_wrapper {
		position: fixed;
		left: 0;		
		height: 100%;
		min-height: auto;
		padding-bottom: 30px;
	}
}
@media screen and (max-width:992px) {
	.top_nav li a {			
    	padding: 5px 0 !important;
    	border-bottom: 1px dashed #ddd;
	}
	.slide_heading {
		font-size: 1.6em
	}
	.heading1 {
		font-size: 24px
	}
	.heading2 {
		font-size: 1.8em
	}
	.sub_heading {
		font-size: 1.15em
	}
	.mt-sm-1 {
		margin-top: 1rem;
	}
	.top_nav li a.primary_btn {
		padding: 7px 15px !important;
		margin-top: 10px
	}
	
	.omni_block span {
		font-size: 17px
	}	
	/*.banner_btns {
    	padding-bottom: 160px;
	}*/
	
	.banner_heading2 {
		font-size: 54px;
	}
	.banner_heading1 {
		font-size: 36px;
	}
	.banner_heading1 span {
		font-size: 30px;
	}
	.banner_heading3 {
 	   font-size: 18px;
	}
	.home_banner1, .home_banner2, .home_banner3 {
		background-position: left bottom;
		background-size: 40%
	}
	.blog_block {
		width: 45%;
	}
	.download_file_btns button, .download_file_btns button:hover {
		width: 30px;
		height: 30px
	}
	
}
@media screen and (max-width:767px) {	
	body {
		font-size: 12px
	}
	.program_content table p {
		padding: 0 10px
	}
	.top_nav li a {
    	padding: 5px 0 !important;
    	font-size: 14px;
 }
	.testimonial_block {
		flex-direction: column
	}
	.review_logo {
		margin-right: 0;
		margin-bottom: 20px
	}
	.review-block {
		min-height: 400px
	}
	.slide {
		flex-direction: column-reverse
	}
	.price_block {
		width: 100%;
		margin-top: 20px;
	}
	.add_bu {
    white-space: nowrap;
    padding: 5px 13px;
    line-height: 18px;
}
	.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin: 38px auto 0;
   
    display: flex !important;
}
	
	.omni_block {		
		align-items: flex-start;
		flex-direction: column;
		padding: 15px;
	}
	
	.mloyal_tabs li a span {
	position: absolute;
    right: 25px;
    top: 0;	
}
.mloyal_tabs li a.active span:after {
    position: absolute;
    content: '-';
    font-size: 40px;
    top: 0;
}

.mloyal_tabs li a span:after {
    content: "+";
    font-size: 27px;
    top: 13px;
    position: absolute;
}
	.mloyal_tabs li a + div {
	display: none;
	transition: all 500ms
}
.mloyal_tabs li a.active + div {
	display: block;
}
	.banner_btns {
    	padding-bottom: 110px;
    	height: 10%;
    	right: -140px;
 }
	.main-slider .owl-nav {
		right: 5%;
		bottom: 0;
	}
	.thead_custom th {
		font-size: 16px
	}
	.banner_heading2 {
		font-size: 42px;
	}
	.banner_heading1 {
		font-size: 22px;
		word-spacing: initial;
	}
	.banner_heading4 {
		font-size: 14px;
		margin-top: 20px;
	}
	.banner_btn {
		padding:7px 20px;
		font-size:12px
	}
	.banner_heading1 span {
		font-size: 30px;
	}
	.banner_heading3 {
 	   font-size: 14px;
 }
	.home_banner1, .home_banner2, .home_banner3 {
		background-position:  left bottom;
		background-size: 50%;
	}
	.animate {
		height: 30px;
		width: 30px;
		left: -20px;
		bottom: 130px;
	}
    .curve_bg {
        background-size: 100% 110px;
    }
	.footer_logo {
		margin: 0 auto 10px
	}
	.c_rev {
		flex-direction: column-reverse
	}
	.subMenu_div {
		position: static;
		padding-top: 0;
		padding-left: 10px;
		display: block;
		width: 100%;
	}
	.subMenu {
		box-shadow: none;
		padding-left: 10px !important;
	}
	.top_nav li a svg {
		display: none
	}
	.hasSub:after {
		right: 10px;
		top: 10px;
	}
	.con_block {
		width: 45%;
	}
	.con_img {		
		border-width: 5px
	}
	.con_content {
		font-size: 16px
	}
	.content_area {
		padding-left: 0;
		padding-right: 0
	}
	.program_heading1 {
		font-size: 16px
	}
	.main_wrapper {
/*		padding-left: 50px;*/
		min-height: calc(100% - 152px);
	}
}
@media screen and (max-width:576px) {
	.scroll_sticky {
		top: 82px;
		left: 0;
		padding-left: 20px;
	}
	.banner_content {
		min-height: 500px
	}
	.header_top {
		font-size: 12px;		
    	line-height: 1.3;
	}
	.slide {
		text-align: center;
		padding: 20px 0
	}
	.heading2 {
		font-size: 1.4em
	}
	.heading_benefits {
		font-size: 1.6em
	}
	.subheading_benefits {
		font-size: 1.4em
	}
	.benefits {
		font-size: 18px
	}
	.integration > div {
		width: 50%
	}
	.yt_video {
		min-height: 300px
	}
	.banner_btns {
    	padding-bottom: 0;
 }
	.banner_btn {
		padding: 7px 20px;
		min-width: 81px;
		font-size: 14px;
		width: 100%;
	}
	span.visi_xs {
		display: block;
	}
	
	.thead_custom th {
		font-size: 14px
	}
	.product_suite_table th, .product_suite_table td {
		font-size: 14px;
    	padding: 7px 5px;
	}
	.table_heading_main {
    	padding: 10px 5px !important;
	}
	.banner_text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        width: 96%;
        margin: 10px auto 0;
    }
    .home_banner1, .home_banner2, .home_banner3 {
        align-items:start;
    }
    .banner_heading1 {
        font-size: 34px;
    }
    .banner_heading2 {
        font-size: 35px;
    }
    .banner_heading3 {
        
    }	
	
	.blog_block {
		width: 100%;
	}
	.bread_custom {
		font-size: 12px
	}
	#media_gallery {
		background-size: 200% 470px
	}
	.g_h {
		font-size: 16px
	}
	.flex-column-reverse_xs {
		flex-direction: column-reverse
	}
	.top_btns ul li {
		padding: 5px;
	}
	.top_btns ul {
		flex-direction: column;
		padding-left: 0
	}
	.top_btns ul li a {
		padding: 3px 15px;
		text-align: center;
		color: #fff;
		border-radius: 40px;
		font-size: 11px;
	}
	span.apointment_img {
		
max-width: 30px;
		
margin-bottom: 0;
	}
}

@media screen and (max-width: 500px) {
     .banner_text2 {
		 padding: 0 10px;
		 }
	.banner_heading2 {
		font-size: 30px;
		letter-spacing: -1px;
	}
	.banner_heading1 {
		font-size: 32px;
		letter-spacing: 0;
	}
	.banner_heading1 span {
		font-size: 18px;
	}
	.banner_heading3 {
 	   font-size: 16px;
 }
	.banner_text {
	    width:80%;
	    margin-left:20%;
	}
	.home_banner1, .home_banner2, .home_banner3 {
		background-size: 100%;
	}
}
@media screen and (max-width:480px) {
/*	.fixed-top {
     	padding-top: 7px;
		padding-bottom: 7px
	}*/

	.social_links li a {
		display: block;
	}
	.copyright_text {
		font-size: 12px;
		line-height: 16px
	}	
	.logo  {
		max-width: 60px;
		padding: 2px 0;
	}
	.product_suite_table th, .product_suite_table td {
		font-size: 12px;
    	padding: 7px 3px;
	}	
	/*.header_sticky {
		top:10px;
	}*/
	.missed_call img {
    	max-width: 20px;
	}
	.missed_call a {
    	font-size: 14px;
	}
}
@media screen and (max-width:416px) {
	.main_wrapper {
/*		padding-left: 50px;*/
		min-height: calc(100% - 185px);
	}
}
@media screen and (max-width:400px) {
	.banner_heading2 {
		font-size: 22px;
		letter-spacing: -1px;
	}
	.banner_heading1 {
		font-size: 20px;
		letter-spacing: 0;
	}
	.banner_heading1 span {
		font-size: 18px;
	}
	.banner_heading3 {
 	   font-size: 14px;
 }
	.logo  {
		max-width: 60px;
	}
	.banner_content {
		min-height: 430px;
	}
}
@media screen and (max-width:320px) {
	.home_banner1, .home_banner2, .home_banner3 {
		background-size: 100%;
	}
}
	